.sidebar {
  background-color: #f3fffd;
  width: 150px;
  position: fixed;
  height: 100%;
  top: 0;
  padding: 20px;
}
.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.dropzone.drag-over {
  border-color: #4caf50;
}

@media screen and (max-width: 500px) {
  .sidebar {
    display: none;
  }
  .dropzone {
    border: 0;
    padding: 0;
  }
}
.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-header h1 {
  font-size: 24px;
  font-weight: bold;
}

.sidebar-tabs {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.tab {
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #b2edff;
  cursor: pointer;
  border-radius: 10px;
  font-family: cursive;
}

.tab.active {
  background-color: rgb(151, 221, 228);
  color: white;
}

.file-upload-container {
  padding: 30px;
  border-radius: 4px;
}

p {
  margin: 0;
}

.file-input {
  cursor: pointer;
}

.choose-file {
  background-color: rgb(72, 205, 250);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
